<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer class="footer text-right">
        <div class="">
<!--            <a th:href="@{/}" target="_blank" th:text="'&copy; '+${commons.site_option('')}"></a>-->
        </div>
    </footer>
</div>
<body th:fragment="footer">
<script th:src="@{/backadmin/js/jquery.min.js}"></script>
<script th:src="@{/backadmin/js/bootstrap.min.js}"></script>
<script th:src="@{/backadmin/js/sweetalert2.min.js}"></script>
<script th:src="@{/backadmin/js/jquery.app.js}"></script>
<script th:src="@{/backadmin/js/base.js}"></script>
</body>
</html>