<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.MetaMapper">
    <resultMap id="BaseResultMap" type="com.myblog.model.entity.Metas">
        <id column="mid" jdbcType="INTEGER" property="mid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="slug" jdbcType="VARCHAR" property="slug" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="parent" jdbcType="INTEGER" property="parent" />
    </resultMap>

    <insert id="saveMeta" parameterType="com.myblog.model.entity.Metas" useGeneratedKeys="true" keyProperty="mid">
        INSERT INTO myblog.t_metas (mid, name, slug, type, description, sort, parent)
        VALUES (#{mid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{parent,jdbcType=INTEGER})
    </insert>

    <update id="updateMeta" parameterType="com.myblog.model.entity.Metas">
        update myblog.t_metas
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                slug = #{slug,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR}
            </if>
<!--            <if test="description != null">-->
<!--                description = #{description,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="sort != null">-->
<!--                sort = #{sort,jdbcType=INTEGER},-->
<!--            </if>-->
            <if test="parent != null">
                parent = #{parent,jdbcType=INTEGER}
            </if>
        </set>
        where mid = #{mid,jdbcType=INTEGER}
    </update>

    <delete id="delMetaById">
        DELETE FROM myblog.t_metas WHERE mid = #{mid,jdbcType=INTEGER}
    </delete>

    <select id="getMetasByType" resultMap="BaseResultMap">
        SELECT * FROM myblog.t_metas WHERE type = #{type} order by sort desc
    </select>

    <select id="getMetaById" resultMap="BaseResultMap">
        SELECT * FROM myblog.t_metas WHERE mid = #{mid,jdbcType=INTEGER}
    </select>

    <select id="selectMetaListByConditions" resultMap="BaseResultMap">
        SELECT * FROM myblog.t_metas WHERE type = #{type} and name = #{name}
    </select>

    <resultMap id="MetasEX" type="com.myblog.model.entity.MetasEx" extends="BaseResultMap">
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getMetasBySql" resultMap="MetasEX">
        SELECT
            a.*, count(b.cid) AS count
        FROM
            myblog.t_metas a
            LEFT JOIN myblog.t_relationships b ON a.mid = b.mid
        WHERE
            a.type = #{type} group by a.mid order by count desc, a.mid desc
    </select>

    <select id="getMeta" resultMap="MetasEX">
        SELECT
            a.*, count(b.cid) AS count
        FROM
            myblog.t_metas a
            LEFT JOIN myblog.t_relationships b ON a.mid = b.mid
        WHERE
            a.type = #{type} and a.name = #{name} group by a.mid order by count desc, a.mid desc
    </select>

    <select id="countWithSql" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(0)
        FROM myblog.t_contents a LEFT JOIN myblog.t_relationships b ON a.cid = b.cid
        WHERE b.mid = #{value} AND a.status = 'publish' AND a.type = 'post';
    </select>
</mapper>